<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.readium.sdk.android.launcher"
    android:versionCode="5"
    android:versionName="1.28.5" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- android:debuggable="true" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="Select an EPUB folder"
            android:theme="@style/FilePickerTheme"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContainerList"
            android:label="@string/container_list_title">
        </activity>
        <activity
            android:name=".BookDataActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".ContainerList">
        </activity>
        <activity
            android:name=".MetaDataActivity"
            android:label="@string/app_name"
            android:parentActivityName=".BookDataActivity">
        </activity>
        <activity
            android:name=".SpineItemsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".BookDataActivity">
        </activity>
        <activity
            android:name=".ListOfLandmarksActivity"
            android:label="@string/app_name"
            android:parentActivityName=".BookDataActivity">
        </activity>
        <activity
            android:name=".ListOfFiguresActivity"
            android:label="@string/app_name"
            android:parentActivityName=".BookDataActivity">
        </activity>
        <activity
            android:name=".ListOfIllustrationsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".BookDataActivity">
        </activity>
        <activity
            android:name=".ListOfTablesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".BookDataActivity">
        </activity>
        <activity
            android:name=".PageListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".BookDataActivity">
        </activity>
        <activity
            android:name=".TableOfContentsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".BookDataActivity">
        </activity>
        <activity
            android:name=".BookmarksActivity"
            android:label="@string/app_name"
            android:parentActivityName=".BookDataActivity">
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|screenSize">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8697fc2d6b052922d0b776297ecd35750f08b5aa" />
    </application>

</manifest>
